<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{ page.title }}</h1>
      <p>Diary entries are sorted oldest to newest.</p>
      <div><a href="#bottom">Jump to most recent post</a></div>
      <section>
        {{ content }}
      </section>
      <footer>
        &copy; {{ site.time | date: '%Y' }} Jonathan Hoyt
      </footer>
    </div>
    <style>
      body {
        font-family: Helvetica, Arial, sans-serif;
      }
      .container {
        margin: 0 auto;
        width: 800px;
      }
    </style>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function () {
        var t = document.createElement('script');
        t.type = 'text/javascript';
        t.async = true;
        t.id = 'gauges-tracker';
        t.setAttribute('data-site-id', '5ececf8fdddd566309be60c0');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
